absl-py==0.13.0
aiohttp==3.8.0
aiosignal==1.2.0
anaconda-client==1.7.2
anaconda-navigator==1.9.7
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828496740/work
ase==3.18.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.0
asynctest==0.13.0
atari-py==0.2.9
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autopep8==1.5.7
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blobfile==0.11.0
boto3==1.18.65
botocore==1.21.65
Box2D==2.3.10
Box2D-kengz==2.3.3
box2d-py==2.3.8
brotlipy==0.7.0
bsddb3==6.2.9
cached-property==1.5.2
cachetools==4.2.2
cbor==1.0.0
certifi==2021.5.30
cffi @ file:///tmp/build/80754af9/cffi_1600699165083/work
cftime @ file:///tmp/build/80754af9/cftime_1595379741697/work
chardet==3.0.4
charset-normalizer==2.0.4
clang==5.0
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
conda==4.9.2
conda-build==3.17.8
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1603018143336/work
conda-verify==3.4.2
cryptography @ file:///tmp/build/80754af9/cryptography_1601047419573/work
cudf==0.8.0+0.g8fa7bd3.dirty
cycler==0.10.0
Cython @ file:///tmp/build/80754af9/cython_1594831565616/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1602083700509/work
dataclasses==0.8
datasets==1.15.1
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.4
dm-tree==0.1.6
docutils==0.18.1
dominate==2.4.0
eccodes==0.9.7
elasticsearch==7.0.0
entrypoints==0.3
facenet-pytorch==2.5.1
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
frozenlist==1.2.0
fsspec==2021.11.0
future==0.18.2
gast==0.4.0
gdown==4.5.1
glob2==0.7
google-auth==1.35.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
grpcio==1.34.1
gym==0.13.1
h5py==3.1.0
hiddenlayer==0.3
huggingface-hub==0.1.1
idna==3.2
idna-ssl==1.1.0
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata==4.6.4
importlib-resources==5.1.0
-e git+https://github.com/openai/improved-diffusion.git@783b6740edb79fdb7d063250db2c51cc9545dcd1#egg=improved_diffusion
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206602906/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1593447367857/work
ipython_genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
itsdangerous==1.1.0
jedi @ file:///tmp/build/80754af9/jedi_1598371618777/work
Jinja2==2.11.2
jmespath==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
Keras==2.3.1
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1604014557000/work
leveldb==0.201
libarchive-c==2.9
librmm-cffi==0.8.0
lightgbm==3.3.3
llvmlite==0.34.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1592846044287/work
meson @ file:///home/conda/feedstock_root/build_artifacts/meson_1607337552380/work
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
mkl-service==2.0.2
mpi4py==3.0.0
multidict==5.2.0
multiprocess==0.70.12.2
navigator-updater==0.2.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601914804165/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
netCDF4==1.4.1
networkx==2.3
nltk==3.6.3
nose==1.3.7
notebook @ file:///tmp/build/80754af9/notebook_1601501581489/work
numba @ file:///tmp/build/80754af9/numba_1600094284200/work
numpy==1.19.5
nvstrings-cuda92==0.8.0
oauthlib==3.1.1
olefile==0.46
opencv-python==4.5.2.54
opt-einsum==3.3.0
packaging==20.4
pandas @ file:///tmp/build/80754af9/pandas_1602088135163/work
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
pbs==0.110
pexpect==4.8.0
phonopy==2.4.2
pickle5==0.0.12
pickleshare==0.7.5
Pillow==6.1.0
Pint==0.16.1
pkginfo==1.6.0
progressbar2==3.53.1
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.17.3
psutil @ file:///tmp/build/80754af9/psutil_1598370257337/work
ptyprocess==0.6.0
pyarrow==0.12.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.19.1
pycodestyle==2.7.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycryptodomex==3.14.1
pyDeprecate==0.3.1
pydot==1.4.2
pyglet==1.3.2
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141725711/work
PySocks==1.7.1
python-dateutil==2.8.1
python-gflags==3.1.2
python-igraph==0.7.1.post7
python-utils==2.5.6
pytorch-fid==0.2.0
pytorch-lightning==1.5.10
pytorch-transformers==1.2.0
pytz==2020.1
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1601658315997/work
PyYAML==5.3.1
pyzmq==19.0.2
qstat==0.0.4
QtPy==1.9.0
regex==2021.9.24
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel_yaml==0.15.87
s3transfer==0.5.0
sacremoses==0.0.46
scikit-image==0.15.0
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1598379690588/work
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
sentencepiece==0.1.96
seqeval==1.2.2
sgeparse==0.0.2
sh==1.12.14
six==1.15.0
soupsieve==2.0.1
stable-baselines==2.10.2
statistics==1.0.3.5
statsmodels==0.11.1
tabulate==0.8.5
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.0
tensorflow==2.0.0
tensorflow-addons==0.14.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
tensorflow-model-optimization==0.7.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tokenizers==0.9.4
toml==0.10.2
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
torch==1.1.0
torchmetrics==0.8.2
torchtext==0.7.0
torchvision==0.3.0
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1602185206534/work
traitlets==4.3.3
transformers==4.0.0
typeguard==2.13.3
typing==3.6.4
typing-extensions==3.7.4.3
urllib3==1.26.6
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wrf-python==1.3.2
xarray==0.15.0
xgboost==1.5.2
xmltodict==0.12.0
xxhash==2.0.2
yarl==1.7.2
zipp==3.5.0
